<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - ZVAs</title>
    <link href="{{ url_for('static', filename='styles.css') }}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div id="root">
        <a href='https://github.com/Zilezia'>https://github.com/Zilezia</a>
        <div class="main_container">
            <header class="header">
                <h2 class="page_title">
                    {% block header %}{% endblock %}
                </h2>
            </header>
            <main class="main">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
</body>
</html>